.resalta-filas {
  cursor: pointer;
}

.resalta-filas:hover {
  background-color: #a6d5fa;
}

.rojo {
  background-color: #ffcdd2 !important;
}
.verde {
  background-color: #c8e6c9 !important;
}
.amarillo {
  background-color: #feedaf !important;
}

