<!-- <h2>Préstamos</h2> -->

<!-- Tabla principal -->

<p-table [value]="prestamos" dataKey="pres_socio_aprobado_fecha"
  styleClass="p-datatable-sm p-datatable-responsive-demo">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th pSortableColumn="pres_socio_aprobado_fecha" style="width: 9rem">Fecha apro. <p-sortIcon
          field="pres_socio_aprobado_fecha">
        </p-sortIcon>
      </th>
      <th pSortableColumn="pres_socio_monto">Monto <p-sortIcon field="pres_socio_monto">
        </p-sortIcon>
      </th>
      <th pSortableColumn="pres_socio_sistema">Sistema <p-sortIcon field="pres_socio_sistema">
        </p-sortIcon>
      </th>
      <th pSortableColumn="pres_socio_cuotas">Cuotas <p-sortIcon field="pres_socio_cuotas">
        </p-sortIcon>
      </th>
      <th pSortableColumn="pres_socio_tipo_pmo">Tipo <p-sortIcon field="pres_socio_tipo_pmo">
        </p-sortIcon>
      </th>
      <th pSortableColumn="pres_socio_calificacion" style="width: 9rem">Calificación <p-sortIcon
          field="pres_socio_calificacion">
        </p-sortIcon>
      </th>
      <th pSortableColumn="pres_socio_atrasos">Atrasos <p-sortIcon field="pres_socio_atrasos">
        </p-sortIcon>
      </th>
      <th pSortableColumn="pres_socio_fecha_vencimiento" style="width: 9rem">Vencimiento <p-sortIcon
          field="pres_socio_fecha_vencimiento">
        </p-sortIcon>
      </th>
      <th pSortableColumn="pres_socio_estado_pmo">Estado <p-sortIcon field="pres_socio_estado_pmo">
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-campo let-expanded="expanded">
    <tr class="campos">
      <td>
        <button type="button" pButton pRipple [pRowToggler]="campo"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Fecha aprobación</span>{{campo.pres_socio_aprobado_fecha | formatoFecha}}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Monto</span>
        {{campo.pres_socio_monto | currency:'PYG':'symbol-narrow':'1.0':'py'}}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Sistema</span>
        {{campo.pres_socio_sistema}}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Cuotas</span>
        {{campo.pres_socio_cuotas}}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Tipo</span>
        {{campo.pres_socio_tipo_pmo}}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Calificación</span>
        {{campo.pres_socio_calificacion}}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Atrasos</span>
        {{campo.pres_socio_atrasos}}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Vencimiento</span>
        {{campo.pres_socio_fecha_vencimiento | formatoFecha}}
      </td>
      <td>
        <span class="p-column-title">Estado</span>
        {{campo.pres_socio_estado_pmo}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-campo>
    <tr>
      <td colspan="10">
        <div class="p-p-0">

          <!-- Tabla secundaria ( desplegable ) -->

          <p-table [value]="prestamos" dataKey="pres_socio_saldo_restante"
            styleClass="p-datatable-sm desplegable p-datatable-responsive-demo">
            <ng-template pTemplate="header">
    <tr>
      <th>Saldo restante </th>
      <th>Tasa de interés </th>
      <th>Situación </th>
      <th>Cuotas adelantadas </th>
      <th>Cuotas en fecha </th>
      <th>Max días de atraso </th>
      <th>Tipo de Garantía </th>
      <th>Socio garante </th>
      <th>Observación </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowIndex="rowIndex">
    <tr *ngIf="rowIndex == 1">
      <td>
        <span class="p-column-title">Saldo restante</span>
        {{campo.pres_socio_saldo_restante}}
      </td>
      <td>
        <span class="p-column-title">Tasa de interés</span>
        {{campo.pres_socio_tasa_interes}}
      </td>
      <td>
        <span class="p-column-title">Situación</span>
        {{campo.pres_socio_situacion}}
      </td>
      <td>
        <span class="p-column-title">Cuotas adelantadas</span>
        {{campo.pres_socio_adelantado}}
      </td>
      <td>
        <span class="p-column-title">Cuotas en fecha</span>
        {{campo.pres_socio_en_fecha}}
      </td>
      <td>
        <span class="p-column-title">Max días de atraso</span>
        {{campo.pres_socio_max_dias_atraso}}
      </td>
      <td>
        <span class="p-column-title">Tipo de Garantía</span>
        {{campo.pres_socio_tipo_garantia}}
      </td>
      <td>
        <span class="p-column-title">Socio garante</span>
        {{campo.pres_socio_socio_garante}}
      </td>
      <td>
        <span class="p-column-title">Observación</span>
        {{campo.pres_socio_observacion}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">No hay datos.</td>
    </tr>
  </ng-template>
</p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
