<h2>Prestamos</h2>
<p-table *ngIf="estadoCuenta" [value]="estadoCuenta.prestamos" dataKey="fechaAprobacion">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th pSortableColumn="PRES_socio_aprobado_fecha">Fecha aprobación <p-sortIcon field="PRES_socio_aprobado_fecha">
        </p-sortIcon>
      </th>
      <th pSortableColumn="PRES_socio_monto">Monto <p-sortIcon field="PRES_socio_monto"></p-sortIcon>
      </th>
      <th pSortableColumn="PRES_socio_cuotas">Cuotas <p-sortIcon field="PRES_socio_cuotas"></p-sortIcon>
      </th>
      <th pSortableColumn="PRES_socio_tipo_pmo">Tipo de prestamo <p-sortIcon field="PRES_socio_tipo_pmo"></p-sortIcon>
      </th>
      <th pSortableColumn="PRES_socio_calificacion">Calificación <p-sortIcon field="PRES_socio_calificacion">
        </p-sortIcon>
      </th>
      <th pSortableColumn="PRES_socio_atrasos">Presenta atrasos <p-sortIcon field="PRES_socio_atrasos"></p-sortIcon>
      </th>
      <th pSortableColumn="inventoryStatus">Estado <p-sortIcon field="inventoryStatus"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-expanded="expanded">
    <tr>
      <td>
        <button type="button" pButton pRipple [pRowToggler]="product"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td>{{product.PRES_socio_aprobado_fecha}}</td>
      <td>{{product.PRES_socio_monto | currency:'PYG'}}</td>
      <td>{{product.PRES_socio_cuotas}}</td>
      <td>{{product.PRES_socio_tipo_pmo}}</td>
      <td>{{product.PRES_socio_calificacion}}</td>
      <td>{{product.PRES_socio_atrasos}}</td>  
      <td><span
          [class]="'product-badge status-' + product.PRES_socio_estado_pmo.toLowerCase()">{{product.PRES_socio_estado_pmo}}</span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-product>
    <tr>
      <td colspan="12">
        <div class="p-p-3">
          <p-table [value]="estadoCuenta.prestamos" dataKey="PRES_socio_mas_detalles">
            <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="numero">Numero 
      </th>
      <th pSortableColumn="saldoRestante">Saldo restante 
      </th>
      <th pSortableColumn="sistema">Sistema 
      </th>
      <th pSortableColumn="interes">Tasa de interes 
      </th>
      <th pSortableColumn="tipoGarantia">Tipo de Garantía 
      </th>
      <th pSortableColumn="situacion">Situación 
      </th>
      <th pSortableColumn="adelantado">Adelantado 
      </th>
      <th pSortableColumn="enFecha">En fecha 
      </th>
      <th pSortableColumn="maxAtraso">Maximos días de atraso 
      </th>
      <th pSortableColumn="vencimiento">Vencimiento 
      </th>
      <th pSortableColumn="observacion">Observación 
      </th>
      <th pSortableColumn="socioGarante">Socio garante 
      </th>
      <th pSortableColumn="nombreGarante">Nombre garante 
      </th>
      <!-- <th style="width: 4rem"></th> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowIndex="rowIndex">
    <tr *ngIf="rowIndex == 1">
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_nro_pmo}}</td>
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_saldo_restante}}</td>
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_sistema}}</td>
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_tasa_interes}}</td>
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_tipo_garantia}}</td>
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_situacion}}</td>
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_adelantado}}</td>
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_en_fecha}}</td>
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_max_dias_atraso}}</td>
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_fecha_vencimiento}}</td>
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_observacion}}</td>
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_socio_garante}}</td>
      <td>{{product.PRES_socio_mas_detalles.PRDE_socio_nombre_garante}}</td>
     
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">There are no order for this product yet.</td>
    </tr>
  </ng-template>
</p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
