.resalta-filas {
  cursor: pointer;
}

.resalta-filas:hover {
  background-color: #a6d5fa;
}  

.estado {
    background-color: #c8e6c9 !important;
}

@media print {
  * {
    font-size: 0.8rem !important;
  }
}