<!-- <h2>Datos laborales</h2> -->
<p-table [value]="datosLaborales" dataKey="dala_socio_empresa" styleClass="p-datatable-sm p-datatable-responsive-demo">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th pSortableColumn="dala_socio_empresa">Empresa </th>
      <th pSortableColumn="dala_socio_salario">Salario <p-sortIcon field="dala_socio_salario">
        </p-sortIcon>
      </th>
      <th pSortableColumn="dala_socio_fecha_ingreso">Fecha de ingreso <p-sortIcon field="dala_socio_fecha_ingreso">
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-campo let-expanded="expanded">
    <tr class="campos">
      <td>
        <button type="button" pButton pRipple [pRowToggler]="campo"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Empresa</span>
        {{ campo.dala_socio_empresa }}</td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Salario</span>
        {{ campo.dala_socio_salario | currency:'PYG':'symbol-narrow':'1.0':'py' }}</td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Fecha de ingreso</span>
        {{ campo.dala_socio_fecha_ingreso | formatoFecha }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-campo>
    <tr>
      <td colspan="4">
        <div class="p-p-0">

          <!-- Tabla secundaria -->

          <p-table [value]="datosLaborales" dataKey="dala_socio_direccion" styleClass="p-datatable-sm desplegable p-datatable-responsive-demo
          ">
            <ng-template pTemplate="header">
    <tr>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Fecha de egreso</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowIndex="rowIndex">
    <tr *ngIf="rowIndex == 1">
      <td>
        <span class="p-column-title">Dirección</span>
       {{ campo.dala_socio_direccion  }}
      </td>
      <td>
        <span class="p-column-title">Teléfono</span>
        {{ campo.dala_socio_telefono  }}
      </td>
      <td>
        <span class="p-column-title">Fecha de egreso</span>
        {{ campo.dala_socio_fecha_egreso | formatoFecha  }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">No hay datos.</td>
    </tr>
  </ng-template>
</p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
