    h2 {
      text-align: center;
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }

    .saldos-aportes {
      flex-flow: row wrap;

      .datos-primarios {
        font-size: 1.3rem;
        font-weight: bold;
        color: black
      }

      .datos-secundarios {
        font-size: smaller;

      }

      .caja-izquierda {
        padding: 0;

        div {
          text-align: left;
        }
      }

      .caja-derecha {
        padding: 0;

        div {
          text-align: right;
        }
      }
    }

    @media print {
      h2 {
        font-size: 0.688rem;
      }

      .saldos-aportes {
        .datos-primarios {
          font-size: 0.688rem;
        }

        .datos-secundarios {
          font-size: smaller;
        }
      }
    }
