  <h2 *ngIf="estado == true" class="titulo">Aportes</h2>
  <h2 *ngIf="estado == false" class="titulo">Saldos Pendientes</h2>

  <div class="p-d-flex" *ngFor="let item of contenido">
    <div class="p-col p-as-end caja-izquierda">
      <div *ngIf="estado == true" class="p-col">
        <p class="datos-primarios">{{ item.valor1 }}</p>
        <p class="datos-secundarios">{{ item.subTitulo1 }}</p>
      </div>
      <div class="p-col">
        <p class="datos-primarios">{{ item.valor2 }}</p>
        <p class="datos-secundarios">{{ item.subTitulo2 }}</p>
      </div>
    </div>
    <div class="p-col p-as-end caja-derecha">
      <div *ngIf="estado == false" class="p-col">
        <p class="datos-primarios">{{ item.valor1 }}</p>
        <p class="datos-secundarios">{{ item.subTitulo1 }}</p>
      </div>
      <div class="p-col">
        <p class="datos-primarios">{{ item.valor3 }}</p>
        <p class="datos-secundarios">{{ item.subTitulo3 }}</p>
      </div>
    </div>
  </div>

