.contenedor-principal {
  width: clamp(50vw, 1300px, 97vw);
  flex-flow: column wrap;

  .resumenGeneral {
    flex-flow: row wrap;
  }
}

// scrolltop

:host ::ng-deep .custom-scrolltop {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
  }

  .p-scrolltop-icon {
    font-size: 1rem;
    color: var(--primary-color-text);
  }
}

// Acordeon

:host ::ng-deep .p-fieldset {
  margin: 0;
  .p-fieldset-content {
    padding: 0;
  }
}


// Tablas

:host ::ng-deep .p-datatable-sm td,
:host ::ng-deep .p-datatable-sm th {
  text-align: right !important;
}

:host ::ng-deep .desplegable td,
:host ::ng-deep .desplegable th {
  background-color: #e9ecef !important;
}

:host ::ng-deep .contenedor-desplegable td {
  padding: 0 !important;
}

.p-p-3 {
  background-color: #e9ecef !important;
}


:host ::ng-deep {
  .p-datatable-responsive-demo .p-datatable-tbody>tr>td .p-column-title {
    display: none;
  }
}

:host ::ng-deep .p-sortable-column-icon {
  font-size: 0.8rem;
}

// spinner
.contenedor-cargando {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: max-content;
  height: max-content;
  margin: auto;
  z-index: 2;

  i {
    font-size: 6rem
  }
}

// auto completado
:host ::ng-deep .p-autocomplete {
  width: 30rem;
  .p-inputtext {
    width: 100%;
  }
  .p-autocomplete-panel {
    width: 100%;
  }
}

// Responsive de las tablas

@media screen and (max-width: 1100px) {
  :host ::ng-deep {
    .p-datatable {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 992px) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-responsive-demo {

        .p-datatable-thead>tr>th,
        .p-datatable-tfoot>tr>td {
          display: none !important;
        }

        .p-datatable-tbody>tr>td {
          text-align: left;
          display: flex;
          justify-content: space-between;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: .4rem;
            min-width: 30%;
            display: inline-block;
            margin: -.4em 1em -.4em -.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}


@media print {
  * {
    font-size: 0.688rem !important;
  }

  .buscador {
    display: none;
  }

  .imprimir {
    display: none !important;
  }

  .flecha {
    display: none !important;
  }

  :host ::ng-deep .p-sorticon {
    display: none !important;

  }

  :host ::ng-deep .p-datatable-tbody tr td button {
    display: none;
  }

  .p-datatable.p-datatable-sm .p-datatable-tbody {
    display: block;
  }

  :host ::ng-deep .p-sortable-column-icon {
    display: none !important;
  }

  :host ::ng-deep .p-fieldset {
    padding: 0;
  }

  :host ::ng-deep .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    padding: 0;
    height: min-content;
  }

  :host ::ng-deep .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a .p-fieldset-toggler {
    display: none;
  }

  .resumenGeneral {
    margin-bottom: 0 !important;
  }
}
