<!-- cabecera -->
<div class="cabecera p-d-flex p-jc-center p-mb-0">
    <img class="imagotipo-eslogan" src="assets/imagenes/csc-imagotipo-eslogan.svg" alt="logo">
</div>


<!-- buscador -->
<div class="p-d-flex p-col-12 p-ai-center p-flex-column p-mb-0 buscador" id="buscador">

  <p-autoComplete [(ngModel)]="socioSeleccionado" [suggestions]="sociosSugeridos"
    (completeMethod)="autoCompletado($event)" [showEmptypMessage]="true" emptyMessage="Datos no encontrados"
    field="sosu_nombre" [minLength]="3" [virtualScroll]="true" [dropdown]="true"
    placeholder="Ingrese datos para buscar un socio" dropdownIcon="pi pi-search"
    (keyup.enter)="busca(socioSeleccionado.sosu_nro_cedula)" class="autocompletado">
    <ng-template let-socio pTemplate="item">
      <div style="font-size: 11px; width: 100%" (click)="busca(socio.sosu_nro_cedula)"
        (onSelect)="busca(socio.sosu_nro_cedula)">
        {{ socio.sosu_nombre | titlecase }} {{ socio.sosu_apellido | titlecase }} - <span class="sugerencias">CI</span>:
        {{ socio.sosu_nro_cedula | number: "1.0":"py" }} - <span class="sugerencias">SOC</span>:
        {{ socio.sosu_nro_socio | number: "1.0":"py" }} - <span class="sugerencias">TEL</span>:
        {{ socio.sosu_telefono }}
      </div>
    </ng-template>
  </p-autoComplete>
</div>


<p-scrollTop [threshold]="2" class="scroll-top"></p-scrollTop>


<!-- botones -->
<div *ngIf="estadoCuenta" class="p-d-flex botones">
  <button pButton pRipple type="button" label=" " (click)="expandirContraer()" class="p-button-raised"
    class="p-button-primary p-mr-1">
    <a>{{ botonTexto }}</a>
  </button>

  <button pButton pRipple type="button" icon="pi pi-print" class="p-button-primary" (click)="imprimir()"></button>
</div>


<!-- Cargando -->
<div *ngIf="!cargando" class="contenedor-cargando">
  <i class="pi pi-spin pi-spinner"></i>
</div>


<!-- contenedor principal -->
<div *ngIf="cargando && estadoCuenta" class="contenedor-principal p-grid p-m-auto" id="contenedor-principal">
  <app-resumen-general [datosPersonales]="estadoCuenta.datos_personales"
    [datosAnaliticos]="estadoCuenta.datos_analiticos" class="p-d-flex p-jc-center p-mb-2 resumenGeneral"
    id="resumen-general">
  </app-resumen-general>


  <!-- Datos laborales  -->
  <p-fieldset [toggleable]="true" [collapsed]="abrirCerrarAcordeon">
    <ng-template pTemplate="header" class="sumatoria">
      <div class="p-d-flex contenedor-resumenes" pTooltip="Salario actual">

        <p class="titulo" class="p-mr-2">Datos Laborales</p>
        <p>
          {{
             estadoCuenta.datos_analiticos.daan_salario_actual
             | currency: "PYG":"symbol-narrow":"1.0":"py"
            }}
        </p>
      </div>
    </ng-template>
    <app-datos-laborales [datosLaborales]="estadoCuenta.datos_laborales" class="p-d-flex p-flex-column p-ai-center">
    </app-datos-laborales>
  </p-fieldset>


  <!-- Préstamos -->
  <p-fieldset [toggleable]="true" [collapsed]="abrirCerrarAcordeon" styleClass="contenedor-fielset">
    <ng-template pTemplate="header" class="sumatoria">
      <div class="p-d-flex contenedor-resumenes" pTooltip="Total saldo restante">
        <p class="p-mr-2">Préstamos</p>
        <p>
          {{
              estadoCuenta.datos_analiticos.daan_saldos_pendientes
                .sape_prestamos | currency: "PYG":"symbol-narrow":"1.0":"py"
          }}
        </p>
      </div>
    </ng-template>
    <app-prestamos [prestamos]="estadoCuenta.prestamos" class="p-d-flex p-flex-column p-ai-center">
    </app-prestamos>
  </p-fieldset>


  <!-- Tarjetas -->
  <p-fieldset [toggleable]="true" [collapsed]="abrirCerrarAcordeon" styleClass="contenedor-fielset">
    <ng-template pTemplate="header" class="sumatoria">
      <div class="p-d-flex contenedor-resumenes" pTooltip="Total saldo restante">
        <p class="p-mr-2">Tarjetas</p>
        <p>
          {{
              estadoCuenta.datos_analiticos.daan_saldos_pendientes.sape_tarjetas
                | currency: "PYG":"symbol-narrow":"1.0":"py"
          }}
        </p>
      </div>
    </ng-template>
    <app-tarjetas *ngIf="estadoCuenta.tarjetas" [tarjetas]="estadoCuenta.tarjetas"
      class="p-d-flex p-flex-column p-ai-center">
    </app-tarjetas>
  </p-fieldset>

  <!-- Ahorros -->
  <p-fieldset [toggleable]="true" [collapsed]="abrirCerrarAcordeon" styleClass="contenedor-fielset">
    <ng-template pTemplate="header" class="sumatoria">
      <div class="p-d-flex contenedor-resumenes" pTooltip="Total">
        <p class="p-mr-2">Ahorros</p>
        <p>
          {{
              estadoCuenta.datos_analiticos.daan_total_ahorros
                | currency: "PYG":"symbol-narrow":"1.0":"py"
          }}
        </p>
      </div>
    </ng-template>
    <app-ahorros [ahorros]="estadoCuenta.ahorros" class="p-d-flex p-flex-column p-ai-center"></app-ahorros>
  </p-fieldset>

  <!-- Gestión cobranza -->
  <p-fieldset [toggleable]="true" [collapsed]="abrirCerrarAcordeon" styleClass="contenedor-fielset">
    <ng-template pTemplate="header" class="sumatoria">
      <div class="p-d-flex contenedor-resumenes" pTooltip="Total cobranza restante">
        <p class="p-mr-2">Gestión cobranza</p>
        <p>
          {{
              estadoCuenta.datos_analiticos.daan_saldos_pendientes
                .sape_cobranzas | currency: "PYG":"symbol-narrow":"1.0":"py"
          }}
        </p>
      </div>
    </ng-template>
    <app-gestion-cobranza [gestionCobranza]="estadoCuenta.gestion_cobranza" class="p-d-flex p-flex-column p-ai-center">
    </app-gestion-cobranza>
  </p-fieldset>
</div>
