
.contenedor-principal {
  width: clamp(50vw, 1280px, 95vw);

  .resumenGeneral {
    margin: 0;
  }
}

:host ::ng-deep .p-datatable-sm td,
:host ::ng-deep .p-datatable-sm th {
  text-align: right !important;
}
:host ::ng-deep .desplegable td,
:host ::ng-deep .desplegable th {
  background-color: #e9ecef !important;
}

:host ::ng-deep .custom-scrolltop {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
  }

  .p-scrolltop-icon {
    font-size: 1rem;
    color: var(--primary-color-text);
  }
}
