h2, p {
    text-align: center;
}
h2 {
    font-size: 1.3rem;
    font-weight: 500;
}

.datos-primarios {
    font-size: 1.2rem;
    font-weight: bold;
    margin:0;
}
.datos-secundarios {
    font-size: smaller;
    margin:0;
}
section, .cajas {
    padding: 0.5rem;
}
.hola{
    flex-wrap: wrap;
}
.resaltado {
    font-weight: bold;
    font-size: 1.5rem;
}
