h2,
p {
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0;
}


.datos-primarios {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  color: black
}

.datos-secundarios {
  font-size: smaller;
  margin: 0;
}

:host ::ng-deep .p-card {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f8f9fa;
}

:host ::ng-deep .p-card .p-card-content {
  padding: 0;
}

:host ::ng-deep .p-card.p-component {
  height: 100%;
  justify-content: center;
}

:host ::ng-deep .p-card .p-card-body {
  width: 100%;
  padding: 0.2rem;
}

@media screen and (max-width: 991px) {
  .datos-personales {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
}

@media print {

  .contenedor-cartas {
    margin-top: 0;

    h2 {
      font-size: 0.688rem;
    }

    .p-col-12 {
      box-sizing: border-box;
      width: 33.3% !important;
      padding: 3px;
      // height: 30%;
      // height: 9.8rem;
    }

    .datos-primarios,
    .resaltado {
      font-size: 0.688rem;
    }

    .datos-secundarios {
      font-size: smaller !important;
    }
  }
}
