/* You can add global styles to this file, and also import other style files */

/* Estilo general de la página */
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--surface-b);
  font-family: var(--font-family);
  color: var(--text-color);
  box-sizing: border-box;
}

// Tablas

// borde de las tablas secundarias
.p-p-0 {
  border: 1px solid;
}

.p-p-3 {
  background-color: #e9ecef !important;
}


// hover a las filas primarias
.resalta-filas {
  cursor: pointer;

  &:hover {
    background-color: #a6d5fa !important;
  }
}


.rojo {
  background-color: #ffcdd2 !important;
}

.verde {
  background-color: #c8e6c9 !important;
}

.amarillo {
  background-color: #feedaf !important;
}

.estado {
  background-color: #c8e6c9 !important;
}



// spinner
.contenedor-cargando {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: max-content;
  height: max-content;
  margin: auto;
  z-index: 2;

  i {
    font-size: 6rem
  }
}

// botones imprimir/expandir
.botones {
  width: 90%;
  justify-content: right;
}

// Tablas
.p-datatable-sm td,
.p-datatable-sm th {
  text-align: right !important;
}

.p-datatable-sm .mensajeNoDatos {
  text-align: center !important;
}


@media print {
  * {
    font-size: 0.688rem !important;
    page-break-before: avoid;
  }

  body,
  html {
    background-color: white;

  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  i {
    display: none !important;
  }

  .cabecera,
  .buscador,
  .imprimir,
  .scroll-top,
  .botones {
    display: none !important;
  }

  .contenedor-principal {
    display: block !important;

    .resumenGeneral {
      display: block !important;
      margin-bottom: 0 !important;

      .datos-personales-contenedor {
        box-sizing: border-box;
        margin-top: 0 !important;
        width: 50%;
        box-shadow: none;
        border: 1px solid rgb(44, 44, 44);


        .datos-personales {
          padding: 0;

          .caja-inferior {
            height: 3.5rem;
          }
        }
      }

      .contenedor-cartas {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      .p-card {
        box-shadow: none;
        border: 1px solid rgb(44, 44, 44);
      }
    }

    .p-fieldset {
      display: block !important;
      border: none;
      padding: 0;
    }
  }

  .sumatoria {
    display: block !important;
  }

  .contenedor-resumenes {
    display: block !important;
    page-break-inside: avoid;
    page-break-after: auto;
  }

  .p-sorticon {
    display: none !important;
  }

  .p-datatable-tbody tr td button {
    display: none;
  }

  .p-datatable.p-datatable-sm .p-datatable-thead>tr>th {
    padding: 0;
  }

  .p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
    padding: 0.2rem 0.2rem;
  }

  .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    padding: 0.1rem;
  }

  .contenedor-fielset {
    margin-top: 2.5rem !important;
  }

  .p-datatable-wrapper {
    border: 1px solid;
  }
}

@media screen and (max-width: 992px) {

  .botones {
    width: 100%;
    padding: 0 0.8rem 0 0.8rem;
  }

  .datoPersonal {
    justify-content: center !important;
    padding: 0;
  }

  .p-autocomplete {
    width: 100% !important;
  }

  .buscador {
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;

    .autocompletado {
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {

  .nombre-apellido,
  .datos-primarios {
    font-size: 1rem !important;
  }
}
