<!-- <h2>Tarjetas</h2> -->
<p-table [value]="tarjetas" dataKey="tarj_fecha_ultimo_pago" styleClass="p-datatable-sm p-datatable-responsive-demo">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th pSortableColumn="tarj_fecha_ultimo_pago">Fecha últ. pago <p-sortIcon field="tarj_fecha_ultimo_pago">
        </p-sortIcon>
      </th>
      <th pSortableColumn="tarj_monto_ultimo_pago">Monto últ. pago <p-sortIcon field="tarj_monto_ultimo_pago">
        </p-sortIcon>
      </th>
      <th pSortableColumn="tarj_saldo_cuota">Saldo cuota <p-sortIcon field="tarj_saldo_cuota">
        </p-sortIcon>
      <th pSortableColumn="tarj_dias_vencimiento">Días de venc. <p-sortIcon field="tarj_dias_vencimiento">
        </p-sortIcon>
      <th pSortableColumn="tarj_refinanciamiento_pendiente">Ref. Pendiente <p-sortIcon
          field="tarj_refinanciamiento_pendiente">
        </p-sortIcon>
      <th pSortableColumn="tarj_estado">Estado <p-sortIcon field="tarj_estado">
        </p-sortIcon>
      <th pSortableColumn="tarj_fecha_vencimiento">Fecha de venc. <p-sortIcon field="tarj_fecha_vencimiento">
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-campo let-expanded="expanded">
    <tr class="resalta-filas">
      <td>
        <button type="button" pButton pRipple [pRowToggler]="campo"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Fecha últ. pago</span>
        {{campo.tarj_fecha_ultimo_pago | formatoFecha}}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Monto últ. pago</span>
        {{campo.tarj_monto_ultimo_pago | currency:'PYG':'symbol-narrow':'1.0':'py' }}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Saldo cuota</span>
        {{campo.tarj_saldo_cuota}}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Días de venc.</span>
        {{campo.tarj_dias_vencimiento}}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Ref. Pendiente</span>
        {{campo.tarj_refinanciamiento_pendiente | currency:'PYG':'symbol-narrow':'1.0':'py'}}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Estado | tittlecase</span>
        {{campo.tarj_estado}}
      </td>
      <td [pRowToggler]="campo">
        <span class="p-column-title">Fecha de venc.</span>
        {{campo.tarj_fecha_vencimiento | formatoFecha}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-campo>
    <tr>
      <td colspan="6">
        <div class="p-p-0">

          <!-- Tabla secundaria -->

          <p-table [value]="tarjetas" dataKey="tarj_linea_credito"
            styleClass="p-datatable-sm desplegable p-datatable-responsive-demo">
            <ng-template pTemplate="header">
    <tr>
      <th>Línea de crédito</th>
      <th>Pago mínimo</th>
      <th>Saldo</th>
      <th>Ajuste mínimo TC</th>
      <th>Línea especial</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowIndex="rowIndex">
    <tr>
      <td>
        <span class="p-column-title">Línea de crédito</span>
        {{campo.tarj_linea_credito | currency:'PYG':'symbol-narrow':'1.0':'py'}}
      </td>
      <td>
        <span class="p-column-title">Pago mínimo</span>
        {{campo.tarj_pago_minimo | currency:'PYG':'symbol-narrow':'1.0':'py'}}
      </td>
      <td>
        <span class="p-column-title">Saldo</span>
        {{campo.tarj_saldo | currency:'PYG':'symbol-narrow':'1.0':'py'}}
      </td>
      <td>
        <span class="p-column-title">Ajuste mínimo TC</span>
        {{campo.tarj_ajuste_TCR}}
      </td>
      <td>
        <span class="p-column-title">Línea especial</span>
        {{campo.tarj_linea_especial | currency:'PYG':'symbol-narrow':'1.0':'py'}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">No hay datos.</td>
    </tr>
  </ng-template>
</p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
