<section class="p-col-12 p-md-10 p-lg-6 p-grid p-mt-2 p-shadow-2 p-jc-between datos-personales-contenedor"
  [class]="{socio: estado==true, conyuge: estado==false}">
  <div class="p-col  p-d-flex p-flex-wrap p-flex-column datos-personales">
    <div class="caja-superior caja-izquierda ">
      <p class="nombre-apellido p-mb-0 p-mt-0">{{ datosPersonales.DAPE_nombre }}</p>
      <p class="nombre-apellido p-mb-0 p-mt-0">{{ datosPersonales.DAPE_apellido }}</p>
    </div>
    <div class="caja-inferior caja-izquierda">
      <p class="datos-secundarios direccion">{{ datosPersonales.DAPE_direccion }}</p>
    </div>
  </div>
  <div class="p-col p-d-flex p-flex-wrap p-flex-column datos-personales">
    <div class="caja-superior caja-derecha">
      <p class="datos-primarios">{{ datosPersonales.DAPE_cedula_nro | number:'1.0':'py'}}</p>
      <p class="datos-secundarios">Cédula de identidad</p>
    </div>
    <div class="caja-inferior caja-derecha">
      <p class="datos-primarios">{{ datosPersonales.DAPE_telefono }}</p>
    </div>
  </div>
</section>


<section class="p-col-12 p-md-10 p-lg-6 p-grid p-mt-2 p-shadow-2 p-jc-between datos-personales-contenedor"
  [class]="{socio: estado==true, conyuge: estado==false}">
  <div class="p-col p-d-flex p-flex-wrap p-flex-column datos-personales">
    <div class="caja-superior caja-izquierda">
      <p *ngIf="estado==true" class="datos-primarios">Socio {{ datosPersonales.DAPE_estado }}</p>
      <p *ngIf="estado==false" class="datos-primarios">Cónyuge</p>
    </div>
    <div class="caja-inferior caja-izquierda">
      <p class="datos-secundarios">Ingreso</p>
      <p class="datos-primarios">{{ datosPersonales.DAPE_fecha_ingreso | formatoFecha}}</p>
    </div>
  </div>
  <div class="p-col p-d-flex p-flex-wrap p-flex-column datos-personales">
    <div class="caja-superior caja-derecha">
      <p class="datos-primarios numero-socio">{{ datosPersonales.DAPE_socio_nro | number:'1.0':'py' }}</p>
      <p class="datos-secundarios">Socio N॰</p>
    </div>
    <div class="caja-inferior caja-derecha">
      <p class="datos-secundarios">Último antecedente</p>
      <p class="datos-primarios">{{ datosPersonales.DAPE_ultimo_antecedente }}</p>
    </div>
  </div>
</section>
