
.datos-personales {

  .nombre-apellido {
    font-style: italic;
    font-size: 1.5rem;
    color: black;
  }

  .direccion {
    color: black;
  }

  .datos-primarios {
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
  }

  .datos-secundarios {
    font-size: small;
  }

  .caja-inferior {
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: flex-end;
  }

  .caja-superior {
    display: flex;
    flex-direction: column;
    max-height: 4.5rem;
    justify-content: flex-start;
  }

  .caja-derecha {
    align-items: flex-end;
  }

  .caja-izquierda {
    align-items: flex-start;
  }

  p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
}

.conyuge {
  background: #EEEEEE;
  border-radius: 5px;

  .numero-socio {
    color: black;
  }
}

.socio {
  border-radius: 5px;

  .numero-socio {
    color: black;
  }
}
